<nav class="navbar">
  <a class="nav-brand" routerLink="home">habacode</a>
  <div class="nav-links">
    <div class="nav-search">
      <input
        class="nav-input"
        type="search"
        name="search"
        id="search"
        placeholder="search..."
        autocomplete="on"
      />
      <fa-icon class="nav-icon" [icon]="['fas', 'search']"></fa-icon>
    </div>
    <a class="nav-link" routerLink="/profile" routerLinkActive="active"
      >profile</a
    >
    <a class="nav-link" routerLink="/repository" routerLinkActive="active"
      >repository</a
    >
  </div>
</nav>
