<div class="hero">
  <div class="header">
    <h2 class="hero-title">for the lovers of code</h2>
    <p class="hero-subtitle">
      find and connect people using the <br />
      best <span class="hero-subtitle-span">version control</span> out there
    </p>
  </div>
  <div class="hero-search">
    <input
      class="search-input"
      type="search"
      name="search"
      id="search"
      placeholder="search users or repositories on github"
      autocomplete="on"
    />
    <fa-icon class="search-icon" [icon]="['fas', 'search']"></fa-icon>
  </div>
</div>
