<div class="hero" *ngIf="showInput">
  <div class="header">
    <h2 class="hero-title">for the lovers of code</h2>
    <p class="hero-subtitle">
      find and connect people using the <br />
      best <span class="hero-subtitle-span">version control</span> out there
    </p>
  </div>
  <form
    class="hero-search"
    (ngSubmit)="submitUser()"
    #heroForm="ngForm"
    name="heroForm"
  >
    <fa-icon class="search-icon" [icon]="['fas', 'search']"></fa-icon>
    <input
      class="search-input"
      type="search"
      name="username"
      id="username"
      placeholder="search users or repositories on github"
      autocomplete="off"
      [(ngModel)]="username"
    />
    <button class="search-cta" type="submit">search</button>
  </form>
</div>

<div class="user-profile" *ngIf="showData" (toggleBack)="showUserInput($event)">
  <div class="user">
    <div class="user-header">
      <img
        class="user-image"
        src="{{ user?.avatar_url }}"
        alt="{{ user?.name }}"
      />
      <div class="user-profile">
        <div class="profile-repos">
          <span class="span-repos">{{ user?.public_repos }}</span>
          <p class="profile-text">repositories</p>
        </div>
        <div class="profile-followers">
          <span class="span-followers">{{ user?.followers }}</span>
          <p class="profile-text">followers</p>
        </div>
        <div class="profile-following">
          <span class="span-following">{{ user?.following }}</span>
          <p class="profile-text">following</p>
        </div>
      </div>
    </div>

    <div class="user-content">
      <p class="user-name">{{ user?.name }}</p>
      <p class="user-login">{{ user?.login }}</p>
      <p class="user-bio">{{ user?.bio }}</p>

      <p class="user-created">
        joined <span>{{ user?.created_at | date }}</span>
      </p>
      <p class="user-location">
        location <span>{{ user?.location }}</span>
      </p>
      <p class="user-email">
        email <span>{{ user?.email }}</span>
      </p>
      <a href="{{ user?.html_url }}" class="user-url"> github profile</a>
    </div>
  </div>
  <div class="repos">
    <div class="repo" *ngFor="let repo of repos">
      <div class="repo-content">
        <p class="repo-name">{{ repo?.name }}</p>
        <p class="repo-username">{{ repo?.full_name }}</p>
        <p class="repo-desc">{{ repo?.description }}</p>
        <div class="repo-dates">
          <p class="repo-created">
            created
            <span class="span-created">{{ repo?.created_at | date }}</span>
          </p>
          <p class="repo-updated">
            updated
            <span class="span-updated">{{ repo?.updated_at | date }}</span>
          </p>
        </div>
        <p class="repo-lang">{{ "#" + repo?.language }}</p>
      </div>
      <div class="repo-cta">
        <div class="repo-links">
          <a href="{{ repo?.clone_url }}" class="repo-clone"
            >clone repository</a
          >
          <a class="repo-link" href="{{ repo?.html_url }}">github link</a>
        </div>
        <a class="repo-page" href="{{ repo?.homepage }}">live link</a>
      </div>
    </div>
  </div>
</div>
