@use "../../../styles/base";
@use "../../../styles/mixins";

.hero {
  @include mixins.col-between;
  height: auto;
  padding: 5rem;
  margin-top: 4rem;
  width: fit-content;
  justify-content: center;
  align-items: flex-start;
  background-color: base.$ash-940;

  .header {
    .hero-title {
      @include mixins.title;
      color: base.$ash-400;
      line-height: 1.15;
    }
    .hero-subtitle {
      @include mixins.subtitle;
      color: base.$ash-700;
      line-height: 1.15;
      .hero-subtitle-span {
        @include mixins.subtitle;
        color: base.$ash-400;
      }
    }
  }
  .hero-search {
    margin-top: 2rem;
    background-color: base.$ash-960;
    color: base.$ash-700;
    width: 100%;
    overflow: hidden;

    .search-icon {
      cursor: pointer;
      padding: 0.7rem;
      float: left;
    }

    .search-input {
      background-color: transparent;
      float: left;
      @include mixins.input;
      color: base.$ash-400;
      width: 70%;

      &::placeholder {
        color: base.$ash-700;
      }
    }

    .search-cta {
      display: flex;
      align-items: center;
      float: right;
      outline: none;
      border: none;
      background-color: base.$ash-900;
      color: base.$ash-600;
      letter-spacing: 0.03rem;
      font-size: 1.1rem;
      font-weight: 300;
      padding: 0.7rem;
      cursor: pointer;

      a {
        color: base.$ash-600;
        text-decoration: none;
      }
    }
  }
}

.user-profile {
  width: 100%;
  .user {
    @include mixins.row-between;
    margin: 5rem 0;
    background-color: base.$ash-200;
    width: 100%;
    .user-header {
      @include mixins.col-between;
      @include mixins.center;
      @include mixins.img-ctr;
      background-image: url("../../../assets/images/card-profile.svg");
      height: auto;
      width: 40%;
      padding: 2rem;
      .user-image {
        height: 8rem;
        padding: 1rem;
      }
      .user-profile {
        @include mixins.center;
        width: 100%;
        .profile-repos {
          margin: 2rem 1rem;
          width: 30%;
          background-color: base.$ash-500;
          padding: 2rem 1rem;
          .profile-text {
            color: base.$ash-960;
          }
          .span-repos {
            color: base.$ash-950;
            font-size: 1.777rem;
            font-weight: 800;
          }
        }
        .profile-followers {
          margin: 2rem 1rem;
          width: 30%;
          background-color: base.$ash-500;
          padding: 2rem 1rem;
          .profile-text {
            color: base.$ash-960;
          }
          .span-followers {
            color: base.$ash-950;
            font-size: 1.777rem;
            font-weight: 800;
          }
        }
        .profile-following {
          margin: 2rem 1rem;
          width: 30%;
          background-color: base.$ash-500;
          padding: 2rem 1rem;
          .profile-text {
            color: base.$ash-960;
          }
          .span-following {
            color: base.$ash-950;
            font-size: 1.777rem;
            font-weight: 800;
          }
        }
      }
    }

    .user-content {
      @include mixins.col-between;
      align-items: flex-start;
      width: 60%;
      padding: 3rem;
      .user-name {
        @include mixins.name;
        color: base.$ash-950;
        font-size: 1.77rem;
      }
      .user-login {
        @include mixins.login;
        color: base.$ash-700;
      }
      .user-bio {
        @include mixins.bio;
        color: base.$ash-940;
        margin: 1rem 0;
      }
      .user-created {
        @include mixins.bio;
        color: base.$ash-700;

        .user-icon {
          margin-right: 1rem;
          color: base.$ash-960;
        }
      }
      .user-location {
        @include mixins.bio;
        color: base.$ash-700;
        .user-icon {
          margin-right: 1rem;
          color: base.$ash-960;
        }
      }
      .user-email {
        @include mixins.bio;
        color: base.$ash-700;
        .user-icon {
          margin-right: 1rem;
          color: base.$ash-960;
        }
      }
      .user-url {
        @include mixins.url;
        color: base.$ash-400;
        background-color: base.$ash-960;
        padding: 1rem 2rem;
        margin: 1rem 0;
      }
    }
  }

  .repos {
    width: 100%;
    @include mixins.row-between;
    align-items: flex-start;
    flex-wrap: wrap;
    .repo {
      width: 45%;
      height: 33rem;
      margin: 1rem 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      background-color: base.$ash-950;
      .repo-content {
        width: 100%;
        padding: 2rem;
        .repo-name {
          color: base.$ash-400;
          font-size: 1.777rem;
          font-weight: 600;
        }
        .repo-username {
          color: base.$ash-700;
          font-size: 1rem;
          font-weight: 300;
          letter-spacing: 0.03rem;
        }
        .repo-desc {
          color: base.$ash-500;
          font-size: 1rem;
          font-weight: 300;
          margin: 1rem 0;
        }
        .repo-dates {
          width: 100%;
          display: flex;
          align-items: flex-start;
          justify-content: center;
          margin-bottom: 1rem;

          .repo-created {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            color: base.$ash-600;
            font-size: 1rem;
            font-weight: 300;
            letter-spacing: 0.03rem;
            margin-right: 1rem;
            width: 50%;

            .span-created {
              color: base.$ash-600;
            }
          }
          .repo-updated {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            color: base.$ash-600;
            font-size: 1rem;
            font-weight: 400;
            letter-spacing: 0.03rem;
            width: 50%;

            .span-updated {
              color: base.$ash-600;
            }
          }
        }

        .repo-lang {
          color: base.$ash-700;
          font-size: 1rem;
          font-weight: 400;
          letter-spacing: 0.03rem;
        }
      }
      .repo-cta {
        @include mixins.col-between;
        width: 100%;
        background-color: base.$ash-940;
        padding: 2rem;
        .repo-links {
          @include mixins.row-between;
          width: 100%;
          .repo-clone {
            width: 50%;
            color: base.$ash-400;
            font-weight: 300;
            text-decoration: none;
            letter-spacing: 0.03rem;
            cursor: pointer;
            padding: 1rem;
            text-align: center;
            margin-right: 0.5rem;
            margin-bottom: 0.5rem;
            background-color: base.$ash-950;
          }

          .repo-link {
            width: 50%;
            color: base.$ash-400;
            font-weight: 300;
            text-decoration: none;
            letter-spacing: 0.03rem;
            cursor: pointer;
            padding: 1rem;
            text-align: center;
            margin-left: 0.5rem;
            margin-bottom: 0.5rem;
            background-color: base.$ash-950;
          }
        }
        .repo-page {
          color: base.$ash-400;
          text-decoration: none;
          cursor: pointer;
          width: 100%;
          margin-top: 0.5rem;
          padding: 1rem;
          text-align: center;
          background-color: base.$ash-950;
          letter-spacing: 0.03rem;
        }
      }
    }
  }
}
