// Font Family
$font: "Space Grotesk", sans-serif;

// Color Palette
$ash-100: #f9fbff;
$ash-200: #ecf2ff;
$ash-300: #e2ebff;
$ash-400: #d0dfff;
$ash-500: #c1d4fb;
$ash-600: #a8c2fb;
$ash-700: #86abf9;
$ash-800: #6893ee;
$ash-900: #5479c7;
