// Font Family
$font: "Space Grotesk", sans-serif;

// Color Palette
$ash-100: #251351;
$ash-200: #d8cdf3;
$ash-300: #32c3be;
$ash-400: #f2f230;
$ash-500: #b19ce8;
$ash-600: #7e5ad8;
$ash-700: #00f5dc;
$ash-800: #fb4376;
$ash-900: #040926;
