// Font Family
$font: "Space Grotesk", sans-serif;

// Color Palette
$ash-100: #99fff5;
$ash-200: #d6fffb;
$ash-300: #32c3be;
$ash-400: #fe885d;
$ash-500: #388697;
$ash-600: #08415c;
$ash-700: #00f5dc;
$ash-800: #fb4376;
$ash-900: #060039;
