@use "base";
// Media Queries

// Extends

// Typography

// Tiltes
%title-shared {
  color: base.$ash-900;
  font-size: 3.157rem;
  font-weight: 700;
}

%alt-title-shared {
  color: base.$ash-800;
  font-size: 2.369rem;
  font-weight: 500;
}

// Subtiltes
%subtitle-shared {
  color: base.$ash-700;
  font-size: 1.777rem;
  font-weight: 500;
}

%alt-subtitle-shared {
  color: base.$ash-600;
  font-size: 1.33rem;
  font-weight: 500;
}

// Text
%text-shared {
  color: base.$ash-900;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.03rem;
}

%alt-text-shared {
  color: base.$ash-800;
  font-size: 1rem;
  font-weight: 500;
}

// Input
%input-shared {
  outline: none;
  padding: 0.8rem 1rem;
  border: none;
  background-color: base.$ash-100;

  &:focus {
    outline: none;
  }
}

// link
%link-shared {
  text-decoration: none;
  cursor: pointer;
  padding: 0.25rem 0;
}
// Button
%btn-shared {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  border: 2px solid base.$ash-800;
  text-decoration: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:active {
    transform: scale(0.96);
  }
}

// Mixins

// Tablet
@mixin for-tab {
  @media screen and (min-width: 0px) and(max-width: 768px) {
    @content;
  }
}

// Desktop
@mixin for-desktop {
  @media screen and (min-width: 769px) and (max-width: 4000px) {
    @content;
  }
}

// Flex

// Row
@mixin row-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
// Center
@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
// Column
@mixin col-between {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

// Containers

// App Container
@mixin app {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 0 5rem;
  overflow: auto;
}

// Image Container
@mixin img-ctr {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

// Navigation Bar
@mixin nav {
  position: sticky;
  z-index: 100;
  top: 0;
  width: 100%;
  height: 5rem;
  padding: 2rem 0;
}

// Buttons
@mixin btn {
  @extend %btn-shared;
  @extend %text-shared;
  background-color: transparent;
  &:hover {
  }
}

@mixin alt-btn {
  @extend %btn-shared;
  @extend %text-shared;
  background-color: base.$ash-900;
  color: base.$ash-100;
  border: none;
  &:hover {
    border: none;
  }
}

//Input Styles
@mixin input {
  @extend %text-shared;
  @extend %input-shared;

  &:focus {
    outline: none;
  }
}

@mixin nav-input {
  @extend %text-shared;
  @extend %input-shared;
  padding: 0.3rem 0.5rem;

  &:focus {
    outline: none;
  }
}

// Link Styles
@mixin link {
  @extend %alt-text-shared;
  @extend %link-shared;

  &:hover {
    border-bottom: 4px solid base.$ash-800;
    color: base.$ash-800;
  }

  &:active {
    border-bottom: 4px solid base.$ash-900;
    color: base.$ash-900;
  }
}

@mixin icon {
  margin: 0.25rem;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:hover {
    transform: scale(1.08);
  }
}

@mixin navbrand {
  @extend %text-shared;
}

@mixin title {
  @extend %title-shared;
}
@mixin subtitle {
  @extend %subtitle-shared;
}
